* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: aqua;

}
.section1 {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(23, 184, 130, 0.562);
}

.section2 {
    position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(182, 19, 33, 0.562);
}
.section3 {
    position: relative; 
  height: 100%;
  width: 100%;
  background-color: rgba(81, 219, 54, 0.562);
}

h1 {
    position: absolute;
   left: 50%;
   top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
h2 {
    position: absolute;
    left: 50%;
    top: 50%;
     transform: translate(-50%, -50%);
     display: inline-block;

}
h3 {
    position: absolute;
    left: 50%;
    top: 50%;
     transform: translate(-50%, -50%);
     display: inline-block;
}
